body{
    background-color: rgb(134, 134, 134);
    margin: 0;
    padding: 0;
}

.center-element{
    margin: 0;
    padding: 0;
    color: #FFF;
    flex: 1;
}

.top-bar{
    background-color: #510d51;
    height: 20vh;
    display: flex;
    align-items: center;
    margin-top: 0;
}
.head-img{
    position: absolute;
    width: 20vw;
    height: 6vw;
    flex: 1;
    margin-right: 0;
    margin-top: 0;
}